.form-container
  %h2 Sign Up

  = form_for @conn, user_path(@conn, :create), [as: :user], fn f ->
    .form-group
      = text_input f, :username, placeholder: "Username", class: "form-control"
    .form-group
      = password_input f, :password, placeholder: "Password", class: "form-control"
    .form-group
      .row
        .col-sm-3
          = submit "Sign In", class: "btn form-submit"
        .col-sm-9
          %p Already have an account? 
            = link("Sign In!", to: session_path(@conn, :new))
  - end

